/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  @apply font-primary text-slate-800;
}

@layer components {
  .large {
    @apply text-slate-700 text-[1rem] font-[600] leading-[1.75rem];
  }

  .h2 {
    @apply text-[1.5rem] text-slate-800 font-[600];
  }

  .p-ui {
    @apply text-[.9rem] text-slate-600;
  }
}
.vertical-line {
  width: 1px;
  height: 100%;
  background-color: #000;
  margin: 0 1rem;
}

@media (max-width: 768px) {
  .vertical-line {
    display: none;
  }
}

@media (min-width: 769px) {
  .vertical-line {
    display: block;
  }
}
.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .horizontal-line {
    display: block;
  }
}

@media (min-width: 769px) {
  .horizontal-line {
    display: none;
  }
}
